<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{title}}</title>
</head>
<body style="display: flex; justify-content: center; align-items: center; height: 100vh; margin: 0;">
    <div style="text-align: center;">
        <h3>
            <strong>Hello, {{name}},</strong>
        </h3>
        <p>We’ve received your request to reset your password. Please click the link below to complete the reset.</p>
        <a style="color: #fff; background-color: rgb(75, 134, 252); font-size: 18px; border: 1px solid rgb(75, 134, 252); border-radius: 4px; display: inline-block; font-weight: bold; width: 250px; height: 50px; line-height: 50px; text-decoration: none;" href="{{url}}">Reset my password</a>
        <p style="font-size: 14px;">This link will expire in 20 minutes.</p>
    </div>
</body>
</html>